/*@import url("//fonts.googleapis.com/css?family=Dosis");*/
@import url("//fonts.googleapis.com/css?family=Montserrat|300");

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;600&display=swap');

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  line-height: 1.1;
  color: #A8DADC;
}

.h1b {
  font-family: 'Dosis', sans-serif;;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.1;
  color: #A8DADC;
}


h2 {
  font-family: 'Dosis', cursive;
  font-weight: 800;
  line-height: 1.1;
  color: #A8DADC;
}

.cifra {
  font-family: 'Dosis', cursive;
  font-weight: 600;
  color: #A8DADC;
  font-size: 140%;
}


body {
  font-family: 'Montserrat', cursive;
  font-weight: 300;
  background-color: #457B9D;/*#fff;*/
  color: #F1FAEE;
}

/*fondo principal con el mapa en gif*/
.fondo {
  background-image: url("/home/bastian/Dataemprende/dataemprende/www/anim4_comp.gif"); /* The image used */
  background-color: #2D668E;/*#1D3557; /* Used if the image is unavailable */
  /*opacity: 0.2;*/
  /*height: 200px; /* You must set a specified height */
  width: 100%;
  background-position: 100% 0%; /*top-right; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /*background-size: cover;*/
  /*background-size: cover;  Resize the background image to cover the entire container */
}




/* SELECTORES */

/* color del texto */
.selectize-input {
  font-size: 10pt; 
  color: #F1FAEE; !important
  
} 

/* color del selector cuando está activo */
.selectize-input.input-active {
  font-size: 10pt; 
  color: #F1FAEE; !important
  /*background-color: transparent; !important
  border-color: #1D3557; !important #no puedo cambiar el color blanco de fondo */
} 
  
/* color del fondo y del borde */    
.selectize-input.items {
  background-color: #2D668E; 
  border-color: #2D668E; !important
} 

/* color del fondo y del borde en hover*/
.selectize-input.items:hover {
  background-color: #1D3557; 
  border-color: #1D3557; !important
  
} 

.selectize-control.single .selectize-input:after {
  border-color: #F1FAEE transparent transparent transparent; !important
}
  /*texto del selector, texto del selector cuando está desplegado, fondo del selector, fondo hover, color del triangulo */

/* elementos del desplegable*/ 
.selectize-dropdown {
  font-size: 10pt; 
  color: #F1FAEE; 
  border-color: #1D3557;
  background-color: #1D3557; !important
}

/*elementos del desplegable hover*/
.selectize-dropdown .active {
  color: #F1FAEE; 
  background: #2D668E !important;
}

/* estilos botonera radioGroupButton */
.btn.radiobtn.btn-default {
  font-size: 10pt; 
  color: #F1FAEE; /*texto*/
  background: #2D668E; 
  border-color: #2D668E;
}
.btn.radiobtn.btn-default.active { /*botón activado/apretado*/
  font-size: 10pt; 
  color: #1D3557; 
  box-shadow: none;  /*sin sombra*/
  background: #A8DADC; 
  border-color: #A8DADC;
}
.btn.radiobtn.btn-default:hover { /*botón hover*/
  font-size: 10pt; 
  color: #F1FAEE;
  background: #1D3557; 
  border-color: #1D3557;
}



/* pestañas */

/* espaciado entre pestañas */ 
.tabbable > .nav > li > a {
  margin-right: 4px; 
  margin-bottom: 8px
}

/* inactiva */
.tabbable > .nav > li > a {
  background-color: #2D668E; 
  color: #F1FAEE !important;
  font-weight: 300;
   text-decoration: none;
} 

/* seleccionada */
.tabbable > .nav > li[class=active] > a {
  background-color: #A8DADC; 
  font-weight: 600; 
  color: #F1FAEE !important;
  text-decoration: none;
} 

/* hover */
.tabbable > .nav > li > a:hover {
  background-color: #1D3557; 
  color: #F1FAEE
} 










/* color normal botoneras */
.btn.radiobtn.btn-default, 
.selectize-input.items,
.btn
{ background: #2D668E; 
  border-color: #2D668E; }
/*
99006C
/* color de realce botoneras */
.btn.radiobtn.btn-default.active, 
.btn.radiobtn.btn-default:hover, 
.selectize-input.items:hover,
.selectize-dropdown .active,
.btn:hover,
.btn.active
{ background: #A8DADC !important; 
  border-color: #A8DADC !important; }
/*293c55  



  /* color de texto botoneras */ 
  .btn.radiobtn.btn-default, 
  .btn.radiobtn.btn-default.active, 
  .btn.radiobtn.btn-default:hover, 
  .btn
  { color: white !important; }
  
  
  
  
      /*links*/
 .enlace {
   /*font-family: Roboto;*/ 
   /*font-weight:400, */
   font-family: 'Dosis', sans-serif;;
   font-weight: 300;
   font-size: 20px;
   color: #A8DADC !important;
   text-decoration: underline;
 }
 
 .enlace:hover {
   color: #FFFFFF !important;
 }
 
a {
  font-family: 'Dosis', sans-serif;;
   font-weight: 300;
   font-size: 20px;
   color: #A8DADC !important;
   text-decoration: underline;
}
 
  a:hover {
   color: #FFFFFF !important;
 }

 
/* ANIMACIONES */

.fade_in_out { 
    animation: fadeinout 4s linear forwards; /*forwards hace que se mantenga así*/ 
    animation-duration: 6s; /* tiempo total de la animación */
    animation-delay: 2s; /*tiempo antes de empezar animación*/
    opacity: 0; /*que empiece invisible*/
}
@keyframes fadeinout {
  0%  { opacity: 0; } /* que empiece y termine en 0 */
  25% { opacity: 1; }
  75% { opacity: 1; }
  100%{ opacity: 0; } /* que empiece y termine en 0 */
}


.fade_in { 
    animation: fadein 2s linear forwards; /*forwards hace que se mantenga así*/ 
    animation-duration: 2s; /* tiempo total de la animación */
    animation-delay: 0s; /*tiempo antes de empezar animación*/
    opacity: 0; /*que empiece invisible*/
}
@keyframes fadein {
  0%  { opacity: 0; } 
  100%{ opacity: 1; } /* solo fade in */
}